@font-face {
  font-family: "Next-Art-Semibold";
  src: url("../assets/fonts/semibold.otf") format("truetype");
}

.semibold {
  font-family: "Next-Art-Semibold";
}

@font-face {
  font-family: "Next-Art-Regular";
  src: url("../assets/fonts/regular.otf") format("truetype");
}

.regular {
  font-family: "Next-Art-Regular";
}

@font-face {
  font-family: "Next-Art-Light";
  src: url("../assets/fonts/light.otf") format("truetype");
}

.light {
  font-family: "Next-Art-Light";
}

#root {
  overflow-x: hidden;
}

body {
  color: #222;
  font-family: "Next-Art-Light";

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0 !important;
  }

  .card {
    background-color: transparent;
    border: 0;
    padding: 0;

    .card-body {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }

  .cursor {
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 0;
  }

  img {
    user-select: none;
  }

  a {
    text-decoration: none;
    color: #fff;
    outline: none !important;

    &:hover {
      text-decoration: none !important;
      color: #ccc;
    }
  }

  .Navbar {
    padding: 15px 0;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    transition: all 0.6s ease-in-out;

    .logo {
      margin-bottom: 0 !important;
    }

    .burger {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      text-align: right;
      width: 50px;
      cursor: pointer;

      @media (max-width: 992px) {
        display: inline;
      }
    }

    .close {
      display: none;
      transform: translate(90px, -170px);

      @media (max-width: 992px) {
        display: block;
      }
    }

    span {
      @media (max-width: 992px) {
        margin-bottom: 20px;
        display: block;
      }
    }

    .dropdown-item {
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.35px;
      color: rgba(0, 0, 0, 0.9);
      margin-left: 0 !important;
      padding: 16px 20px;
      background: #fff;
      border-bottom: 1px solid silver;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      font-weight: 400;
      font-size: 26px;
      line-height: 29px;
      letter-spacing: -0.35px;
      color: rgba(255, 255, 255, 0.9);
      margin-right: 25px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      @media (max-width: 992px) {
        margin: 0 !important;
        margin-bottom: 25px !important;
        display: block;
      }

      &:first-child {
        margin-left: 25px;

        @media (max-width: 1200px) {
          margin-left: 15px;
        }
      }

      &.active,
      &:hover {
        color: #0085ca;
      }
    }

    .phoneWrap {
      @media (max-width: 992px) {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: #1f1f1feb;
        backdrop-filter: blur(20px);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center !important;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
      }

      &.burger {
        @media (max-width: 992px) {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }
    }

    &.active {
      padding: 10px 0;
      background-color: #78d64a;
    }
  }

  .navbarLine {
    padding-top: 103px;
    background-color: #000;

    @media (max-width: 767px) {
      padding-top: 80px;
    }
  }

  .Header {
    background-image: url("../assets/images/headerBg.png");
    // padding: 125px 0 190px;
    background-size: cover;

    .swiper-wrapper {
      padding: 125px 0 190px;

      @media (max-width: 767px) {
        padding: 80px 0 150px;
      }
    }

    .swiper-pagination {
      bottom: 90px;
    }

    .swiper-pagination-bullet {
      width: 90px;
      height: 10px;
      border-radius: 0;
      background-color: #fff;

      &.swiper-pagination-bullet-active {
        background-color: #fff;
      }

      @media (max-width: 767px) {
        width: 30px;
        height: 7px;
      }
    }

    .col-lg-6,
    .col-lg-5 {
      overflow: hidden;

      @media (max-width: 992px) {
        text-align: center;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 70px;
      line-height: 79px;
      letter-spacing: -0.35px;
      color: #ffffff;
      font-family: "Next-Art-Semibold";
      margin-bottom: 39px;

      b {
        color: #d22630;
      }

      @media (max-width: 992px) {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 20px;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.35px;
      margin-bottom: 41px;
      color: rgba(255, 255, 255, 0.9);
    }

    .btn {
      font-weight: 600;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: -0.35px;
      padding: 20px 30px;
      background-color: #d22630;
      color: #ffffff !important;

      @media (max-width: 992px) {
        font-size: 22px;
        padding: 15px 25px;
      }
    }

    .wrap {
      margin-bottom: 50px;

      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: #ffffff;
        margin-left: 30px;
      }
    }

    h5 {
      margin-top: 60px;
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      letter-spacing: -0.35px;
      font-family: "Next-Art-Semibold";
      color: #ffffff;
    }
  }

  .Courses {
    padding: 60px 0;

    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.35px;
      margin-bottom: 58px;
      font-family: "Next-Art-Semibold";
      text-align: center;

      @media (max-width: 767px) {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 0px;
      }
    }

    .cards {
      padding: 20px 20px 54px;
      background: #ffffff;
      border: 2px solid #797979;
      transition: all 0.4s ease-in-out;

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.35px;
        color: #0085ca;
        margin-bottom: 18px;

        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 27px;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.35px;
        color: #0085ca;

        @media (max-width: 767px) {
          font-size: 34px;
          line-height: 35px;
        }
      }

      h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.35px;
        color: #0085ca;
      }

      h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.35px;
        color: #414141;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }

      .arrow {
        transition: all 0.4s ease-in-out;
        margin-left: 10px;

        img {
          @media (max-width: 767px) {
            width: 40px;
          }
        }
      }

      &:hover {
        transform: translateY(-4px);
        cursor: pointer;

        .arrow {
          transform: translateX(8px);
        }
      }

      @media (max-width: 767px) {
        padding: 10px;
      }
    }

    .col-12 {
      margin-top: 27px;
      text-align: center;

      @media (max-width: 767px) {
        margin-top: 10px;
      }
    }

    .btn {
      background: #0085ca;
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: -0.35px;
      color: #ffffff;
      padding: 20px;

      @media (max-width: 767px) {
        font-size: 18px;
        padding: 15px;
      }
    }

    @media (max-width: 992px) {
      padding: 40px 0;
    }
  }

  .Couches {
    padding: 70px 0 40px;

    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.35px;
      font-family: "Next-Art-Semibold";
      margin-bottom: 58px;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    .imgWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 100%;

        @media (max-width: 992px) {
          width: initial;
        }
      }

      @media (max-width: 992px) {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.35px;
      margin: 39px 0;

      @media (max-width: 767px) {
        font-size: 28px;
        margin: 20px 0;
      }
    }

    h3 {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.35px;
      color: #414141;

      @media (max-width: 992px) {
        margin-bottom: 20px;
      }

      @media (max-width: 767px) {
        padding: 0;
        font-size: 18px;
        line-height: 26px;
      }
    }

    h4 {
      background: #0085ca;
      font-weight: 700;
      font-size: 26px;
      line-height: 29px;
      letter-spacing: -0.35px;
      color: #ffffff;
      padding: 29px 21px;
      font-family: "Next-Art-Semibold";

      @media (max-width: 992px) {
        padding: 15px 20px !important;
        font-size: 20px;
        line-height: 23px;
      }
    }

    .paddingLeft {
      padding-left: 30px;

      @media (max-width: 992px) {
        padding-left: 0;
      }
    }
  }

  .Email {
    background: #0085ca;
    padding: 60px 0 75px;
    margin: 130px 0 100px;

    .row {
      @media (max-width: 992px) {
        flex-wrap: wrap-reverse;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 36px;
      line-height: 41px;
      letter-spacing: -0.35px;
      color: #ffffff;
      font-family: "Next-Art-Semibold";
      margin-bottom: 31px;

      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
      }
    }

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.35px;
      color: rgba(255, 255, 255, 0.9);

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 30px;
      }
    }

    .img {
      position: absolute;
      top: -120%;
      right: 50px;

      @media (max-width: 1400px) {
        top: -98%;
      }

      @media (max-width: 1200px) {
        right: 0;
        top: -62%;
      }

      @media (max-width: 992px) {
        position: initial;
      }

      img {
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }

    @media (max-width: 992px) {
      margin: 30px 0;
      padding: 20px 0 30px;
    }
  }

  .AllCoursesHeader {
    background-image: url("../assets/images/allCourses.png");
    background-size: cover;
    padding: 96px 0 163px;

    h1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 50px;
      letter-spacing: -0.35px;
      color: #0085ca;
      margin-bottom: 20px;
      font-family: "Next-Art-Semibold";
      position: relative;
      padding-left: 17px;

      &::after {
        content: "";
        position: absolute;
        top: 5%;
        width: 7px;
        left: 0;
        height: 90%;
        background-color: #0085ca;
      }

      @media (max-width: 992px) {
        font-size: 30px;
        line-height: 35px;
      }
    }

    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.35px;
      color: #ffffff;

      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  .Gallery {
    padding: 56px 0;

    .topCol {
      position: relative;

      h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.35px;
        font-family: "Next-Art-Semibold";
        color: #ffffff;
        background: #0085ca;
        position: absolute;
        top: 0;
        right: -35%;
        transform: translateX(-50%);
        width: 300px;
        padding: 58px 27px;
      }

      h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.35px;
        color: #ffffff;
        font-family: "Next-Art-Semibold";
        padding: 29px 21px;
        background: #d22630;
        position: absolute;
        top: -95px;
        width: 370px;
      }
    }

    h1 {
      font-family: "Next-Art-Semibold";
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.35px;
      color: #414141;
      margin-bottom: 56px;

      @media (max-width: 992px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 992px) {
      padding: 25px 0;
    }
  }

  .Footer {
    background-color: #0085ca;
    padding: 71px 0 78px;

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 49px;
      color: #ffffff;
    }

    .footerLine {
      width: 100%;
      height: 1px;
      margin-top: 80px;
      background-color: #fff;

      @media (max-width: 992px) {
        margin-top: 0px;
      }
    }

    .img {
      margin-bottom: 105px;

      @media (max-width: 992px) {
        margin-bottom: 60px;
      }
    }

    .mb-3 {
      @media (max-width: 992px) {
        margin-bottom: 50px !important;
        text-align: center;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 27px;
      letter-spacing: -0.35px;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 16px;
    }

    h3 {
      font-weight: 400;
      font-size: 20px;
      line-height: 31px;
      letter-spacing: -0.35px;
      color: #ffffff;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.35px;
      color: rgba(255, 255, 255, 0.9);
      margin-bottom: 16px;

      i {
        margin-right: 20px;
      }

      @media (max-width: 992px) {
        justify-content: center;
      }
    }

    .inputWrap {
      display: flex;
      align-items: center;
      margin: 15px 0 28px;

      input {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -0.35px;
        color: #797979;
        padding: 18px;
        border-radius: 0;
      }

      button {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -0.35px;
        color: #ffffff;
        background: #78d64a;
        padding: 18px;
        border-radius: 0;

        @media (max-width: 992px) {
          width: 100%;
          margin-top: 10px;
        }
      }

      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
    }

    .wrap {
      margin-top: 28px;

      .i {
        margin-right: 20px;
        cursor: pointer;
      }
    }

    @media (max-width: 992px) {
      padding: 30px 0;
    }
  }

  .CoursesFilter {
    padding: 66px 0 70px;

    // .cards {
    //   padding: 20px 20px 54px;
    //   background: #ffffff;
    //   border: 2px solid #797979;
    //   transition: all 0.4s ease-in-out;

    //   h2 {
    //     font-weight: 700;
    //     font-size: 32px;
    //     line-height: 36px;
    //     letter-spacing: -0.35px;
    //     color: #0085ca;
    //     margin-bottom: 18px;
    //   }

    //   h3 {
    //     font-weight: 400;
    //     font-size: 44px;
    //     line-height: 50px;
    //     letter-spacing: -0.35px;
    //     color: #0085ca;
    //   }

    //   h4 {
    //     font-weight: 400;
    //     font-size: 16px;
    //     line-height: 18px;
    //     letter-spacing: -0.35px;
    //     color: #0085ca;
    //   }

    //   h5 {
    //     font-weight: 400;
    //     font-size: 20px;
    //     line-height: 23px;
    //     letter-spacing: -0.35px;
    //     color: #414141;
    //   }

    //   .arrow {
    //     transition: all 0.4s ease-in-out;
    //   }

    //   &:hover {
    //     transform: translateY(-4px);
    //     cursor: pointer;

    //     .arrow {
    //       transform: translateX(8px);
    //     }
    //   }
    // }

    .cards {
      padding: 20px 20px 54px;
      background: #ffffff;
      border: 2px solid #797979;
      transition: all 0.4s ease-in-out;

      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.35px;
        color: #0085ca;
        margin-bottom: 18px;

        @media (max-width: 767px) {
          font-size: 22px;
          line-height: 27px;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.35px;
        color: #0085ca;

        @media (max-width: 767px) {
          font-size: 34px;
          line-height: 35px;
        }
      }

      h4 {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.35px;
        color: #0085ca;
      }

      h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.35px;
        color: #414141;

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }

      .arrow {
        transition: all 0.4s ease-in-out;
        margin-left: 10px;

        img {
          @media (max-width: 767px) {
            width: 40px;
          }
        }
      }

      &:hover {
        transform: translateY(-4px);
        cursor: pointer;

        .arrow {
          transform: translateX(8px);
        }
      }

      @media (max-width: 767px) {
        padding: 10px;
      }
    }

    .myRow {
      margin-top: 50px;
    }

    h1 {
      font-weight: 700;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.35px;
      color: #414141;
      font-family: "Next-Art-Semibold";
      margin-bottom: 58px;

      @media (max-width: 992px) {
        font-size: 32px;
        text-align: center;
        margin-bottom: 30px;
      }
    }

    .btnWrap {
      display: flex;
      align-items: center;

      .btn {
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        letter-spacing: -0.35px;
        color: #414141;
        margin-right: 60px;
        position: relative;
        border: none;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 5%;
          width: 90%;
          height: 3px;
          background-color: transparent;
          transition: all 0.2s ease-in-out;
        }

        &.active {
          &::after {
            background-color: #414141;
          }
        }

        @media (max-width: 992px) {
          margin-right: 0;
          font-size: 22px;
          line-height: 20px;
          justify-content: center;
        }
      }

      @media (max-width: 992px) {
        flex-wrap: wrap;
        gap: 20px;
      }
    }

    @media (max-width: 992px) {
      padding: 30px 0 35px;
    }
  }

  .SingleHeader {
    padding: 93px 0 183px;
    overflow: hidden;

    .row {
      position: relative;

      .img {
        position: absolute;
        top: -93px;
        right: -60px;
        width: 700px;
        z-index: -1;
      }
    }

    .cards {
      background: #0085ca;
      padding: 45px 88px;

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: -0.35px;
        color: #414141;
        font-family: "Next-Art-Semibold";
        margin-bottom: 24px;

        @media (max-width: 767px) {
          font-size: 30px;
          margin-bottom: 15px;
        }
      }

      h2 {
        font-weight: 700;
        font-family: "Next-Art-Semibold";
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: #ffffff;
        margin-bottom: 24px;

        @media (max-width: 767px) {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }

      h3 {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.35px;
        color: #ffffff;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 32px;
        }
      }

      h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.35px;
        color: #ffffff;
        font-family: "Next-Art-Semibold";

        @media (max-width: 767px) {
          font-size: 26px;
        }
      }

      .btn {
        background: #d22630;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.35px;
        color: rgba(255, 255, 255, 0.9);
        padding: 20px 30px;
        border-radius: 0;
        margin-top: 24px;

        @media (max-width: 767px) {
          font-size: 24px;
          padding: 18px 28px;
        }
      }

      @media (max-width: 767px) {
        padding: 35px 30px;
      }

      @media (max-width: 767px) {
        padding: 25px 15px;
      }
    }

    .col-lg-7 {
      @media (max-width: 992px) {
        margin-top: 150px;
      }
    }

    @media (max-width: 992px) {
      padding: 80px 0 150px;
    }
  }

  .SingleCards {
    padding: 58px 0;

    h1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 50px;
      letter-spacing: -0.35px;
      margin-bottom: 58px;
      color: #414141;
      font-family: "Next-Art-Semibold";

      @media (max-width: 992px) {
        font-size: 32px;
        margin-bottom: 20px;
      }
    }

    .cards {
      display: flex;
      align-items: center;
      padding: 10px;

      h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.35px;
        color: #ffffff;

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 30px;
          text-align: center;
        }
      }

      &.blue {
        background: #0085ca;
      }
      &.green {
        background: #78d64a;
      }
      &.red {
        background: #d22630;
      }

      @media (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
      }
    }

    @media (max-width: 992px) {
      padding: 25px 0;
    }
  }

  .FeedBackCard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000038;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;

    form {
      height: 100vh;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #e5e5e5;
      }

      &::-webkit-scrollbar-thumb {
        background: #333;
        border-radius: 5px;
      }
    }

    .cards {
      background-color: #fff;
      padding: 60px 60px;
      margin: 20px 0;
      transition: all 0.5s ease-in-out;
      transform: translateY(-20px);
      opacity: 0;

      .close {
        img {
          cursor: pointer;
        }
      }

      .btn {
        font-weight: 700;
        font-size: 30px;
        line-height: 140%;
        letter-spacing: -0.35px;
        color: #797979;
        font-family: "Next-Art-Semibold";
        border: 1px solid #797979;
        padding: 10px 24px;

        @media (max-width: 767px) {
          padding: 0 10px;
          font-size: 25px;
        }
      }

      h6 {
        font-weight: 700;
        font-size: 40px;
        line-height: 140%;
        font-family: "Next-Art-Semibold";
        letter-spacing: -0.35px;
        color: #797979;
        margin: 0 37px;

        @media (max-width: 767px) {
          font-size: 30px;
          margin: 0 20px;
        }
      }

      h1 {
        font-weight: 700;
        font-size: 44px;
        line-height: 50px;
        letter-spacing: -0.35px;
        font-family: "Next-Art-Semibold";

        @media (max-width: 767px) {
          font-size: 25px;
          line-height: 31px;
        }
      }

      .wrap {
        margin-bottom: 35px;
      }

      h3 {
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.35px;
        color: #797979;

        @media (max-width: 767px) {
          font-size: 22px;
        }
      }

      label {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.35px;
        color: #797979;

        span {
          color: #d22630;
        }

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }

      .submitBtn {
        background: #0085ca;
        border-radius: 10px;
        font-weight: 600;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -0.35px;
        color: rgba(255, 255, 255, 0.9);
        padding: 19px 24px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        @media (max-width: 767px) {
          font-size: 22px;
          padding: 15px 20px;
        }
      }

      .form-control {
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -0.35px;
        color: #797979;
        border: 2px solid #797979;
        border-radius: 10px;
        padding: 20px 24px;
        margin-bottom: 35px;

        &.leftInput {
          border: 0;
          border-radius: 0;
          border-bottom: 1px solid #797979;
          padding: 10px 5px 10px;
          margin-bottom: 70px;

          @media (max-width: 992px) {
            margin-bottom: 30px;
          }
        }

        @media (max-width: 767px) {
          font-size: 16px;
        }
      }

      @media (max-width: 992px) {
        padding: 35px 15px;
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;

      .cards {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .Calendar {
    padding: 61px 0 75px;

    .filterWrap {
      @media (max-width: 767px) {
        flex-direction: column;
      }
    }

    h1 {
      font-weight: 700;
      font-size: 44px;
      line-height: 50px;
      letter-spacing: -0.35px;
      margin-bottom: 48px;
      color: #414141;
      font-family: "Next-Art-Semibold";
      text-align: center;

      @media (max-width: 767px) {
        font-size: 22px;
      }
    }

    .filter {
      display: flex;
      align-items: center;
      cursor: pointer;

      h6 {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        margin-left: 19px;
        color: #414141;
        font-family: "Next-Art-Semibold";

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    .calendar {
      display: flex;
      align-items: center;

      h5 {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: #000000;
        margin: 0 22px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }

      span {
        cursor: pointer;
      }
    }

    .calendarWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 45px;

      .wrap {
        position: relative;

        &.red {
          &::after {
            background: #d22630;
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: 5%;
          left: -30px;
          background: #0085ca;
          width: 7px;
          height: 90%;
        }

        @media (max-width: 992px) {
          margin-top: 30px;
        }
      }

      .day {
        background: #0085ca;
        padding: 10px;
        text-align: center;

        &.red {
          background-color: #d22630;
        }
      }

      .number {
        font-weight: 400;
        font-size: 64px;
        line-height: 73px;
        letter-spacing: -0.35px;
        color: #ffffff;
      }

      h2 {
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        letter-spacing: -0.35px;
        color: #ffffff;
      }

      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: #414141;
        margin-bottom: 12px;
        font-family: "Next-Art-Semibold";
      }

      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: #414141;
        margin-bottom: 12px;
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: -0.35px;
        color: #414141;
      }

      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }

  .Filter {
    position: fixed;
    top: 0;
    left: 0;
    background: #78d64a;
    width: 40%;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);

    .close {
      text-align: end;

      img {
        cursor: pointer;
      }
    }

    .cards {
      padding: 150px 20px 50px 150px;

      .btn {
        padding: 19px 24px;
        font-weight: 600;
        font-size: 24px;
        line-height: 27px;
        letter-spacing: -0.35px;
        color: rgba(255, 255, 255, 0.9);
        background: #0085ca;
        border-radius: 10px;
      }

      .inputWrap {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        cursor: pointer;

        input {
          margin-bottom: 0;
        }

        label {
          font-weight: 600;
          font-size: 24px;
          line-height: 27px;
          letter-spacing: -0.35px;
          color: rgba(255, 255, 255, 0.9);
          margin-left: 30px;
          user-select: none;
          cursor: pointer;
        }
      }

      .filter {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 32px;

        h6 {
          font-weight: 700;
          font-size: 24px;
          line-height: 27px;
          letter-spacing: -0.35px;
          margin-left: 19px;
          color: #414141;
          font-family: "Next-Art-Semibold";
        }
      }

      input {
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.35px;
        color: #414141;
        margin-bottom: 32px;
      }

      @media (max-width: 992px) {
        padding: 100px 25px;
      }
    }

    @media (max-width: 992px) {
      width: 90%;
    }

    &.active {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #e5e5e5;
    }

    &::-webkit-scrollbar-thumb {
      background: #2c5b15;
      border-radius: 5px;
    }
  }

  .AboutUs {
    padding: 50px 0 0;

    .swiper-wrapper {
      padding: 100px 0;
    }

    .swiper-button-next {
      right: 36%;

      @media(max-width: 992px) {
        right: initial;
        left: 98px;
      }
    }

    .swiper-button-prev {
      left: inherit;
      right: 41%;

      @media(max-width: 992px) {
        left: 32px;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      bottom: 10px !important;
      top: inherit;
      width: 55px;
      height: 55px;

      &::after {
        color: #fff;
        background-color: #0085ca;
        width: 55px;
        height: 55px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @media (max-width: 1400px) {
        bottom: 6% !important;
      }

      @media (max-width: 992px) {
        bottom: 2% !important;
      }
    }

    h1 {
      font-weight: 400;
      font-size: 26px;
      line-height: 29px;
      letter-spacing: -0.35px;
      margin-bottom: 21px;
      color: #000000;

      @media (max-width: 992px) {
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
      }
    }

    .row {
      position: relative;
    }

    .img {
      position: absolute;
      top: -90px;
      right: -10px;
      z-index: -1;

      img {
        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }

    .cards {
      background: #d22630;
      padding: 36px 81px 71px 28px;

      h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
        letter-spacing: -0.35px;
        color: #ffffff;
        margin-bottom: 50px;

        @media (max-width: 992px) {
          font-size: 25px;
          text-align: center;
        }
      }

      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.35px;
        color: #ffffff;

        @media (max-width: 992px) {
          font-size: 20px;
        }
      }

      @media (max-width: 992px) {
        padding: 50px 30px;
      }
    }
  }
}
